# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependency management
package-lock.json
node_modules

# generated locales
/packages/widgets/src/locales/**/en-US.po
/packages/widgets/src/locales/**/*.ts

# builds
dist
build

# IDE metadata
.idea/
.vscode/
*.swp

# misc
.DS_Store
/.netlify
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
notes.txt

#hardhat
cache
.npmrc

#lingui
.linguirc.local
packages/dodoex-widgets/src/widgets/PoolWidget/AMMV3/sdks/contracts